*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.barlow {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

:root {
  --light: white;
  --dark: black;

  --bg-1: #2d07ff;
  --bg-2: #7785f0;


  --clear-sky: #669ed6;
  --dark-sky: #291798;
  --purple-sky: #584ddd;
  --french-sky: #77B5FE;
  --night-sky: #000000;
  --deep-sky: #00BFFF;
}

html {
  line-height: normal;
  font-family: "Barlow", Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  background-color: var(--french-sky);
  color: var(--light);
  background: linear-gradient(var(--bg-1)30%, var(--bg-2) 100%);
  background-repeat: space;
  background-attachment: scroll;
  background-size: 100%;
  height: 100vh;
}

.primary {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: min-content min-content;
  align-items: center;
  justify-items: center;
  text-align: center;

  .primary-left {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .primary-right {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
  }

  .primary-alert {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: #c2000a;
    padding: 4px;
    width: 100%;
    margin-bottom: 6px;
  }
}

.visual-temp {
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 6px;
}

.current-temp {
  font-size: 4rem;

  span {
    font-size: 1.3rem;
    vertical-align: top;
  }
}

.visual {
  --weather-icon: clear-day;
  height: 5rem;
  aspect-ratio: 1 / 1;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}

.conditions-table {
  place-self: center;
  text-align: left;
  font-size: 1.4rem;
  width: 90%;

  .right {
    text-align: right;
  }
}


.hourly-forecast {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}


.card {
  position: relative;
  border-top: 6px solid rgba(255, 255, 255, 0.5);
  border-left: 6px solid rgba(255, 255, 255, 0.5);
  border-right: 6px solid rgba(0, 0, 0, 0.5);
  border-bottom: 6px solid rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(19, 19, 19, 0.2) 50%, rgba(83, 83, 83, 0.2) 100%);
  background-blend-mode: multiply;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 6px;
}

.top-label {
  align-items: center;
  justify-content: space-between;

  .location-input {
    margin-right: auto;
    margin-left: 12px;
    position: relative;

    >input {
      width: 71%;
      padding: 0px 3px;
      font-family: inherit;
      font-size: 1rem;
      margin-bottom: 12px;
      margin-left: 6px;
    }

    font-size: 1rem;

    >label {
      position: absolute;
      clip: rect(0, 0, 0, 0);
    }

    .location-search-button {
      border: 1px solid white;
      padding: 2px;
      width: 32px;
      border-radius: 4px;
      color: black;
      padding: 0 2px;
      background-color: white;
    }
  }

  .location {
    align-items: center;
    cursor: pointer;

    .location-text {
      margin-left: 6px;
      font-size: 1.5rem;
    }
  }

  .day-time {
    text-align: right;

    .date {
      font-size: 1.4rem;
      margin-bottom: 6px;
    }

    .time {
      font-size: 1.8rem;
    }
  }
}

.card-label {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 12px;
}

.card-container {
  width: clamp(600px, 60%, 1020px);
  margin: 0 auto;
}

.forecast * {
  width: 100%;
}

.forecast-labels {
  text-align: center;

  >div {
    margin-top: 0;
  }
}

.forecast-temps {

  .card {
    position: relative;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 3px 7px 3px 6px;
    container-type: inline-size;
  }

  .forecast-high {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    place-self: start;
  }

  .forecast-low {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    place-self: end right;
    text-align: right;
  }

  .forecast-high,
  .forecast-low {
    font-size: 2rem;
  }

  @container (min-width: 80px) {

    .forecast-high {
      font-size: 3.1rem;
    }

    .forecast-low {
      font-size: 2.8rem;
    }
  }

  @container (min-width: 120px) {

    .forecast-high {
      font-size: 4rem;
    }

    .forecast-low {
      font-size: 3rem;
    }
  }


}

.forecast-descriptions {
  text-align: center;

  .card>.description {
    margin-top: 6px;
  }
}

.forecast-visual-container {
  justify-content: space-between;
}

.forecast-temps .card::after {
  position: absolute;
  padding: 0;
  margin: 0 auto;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%) rotate(45deg);
  content: "";
  width: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.icon {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

li {
  list-style-type: none;
}

.hourly-forecast-label {
  justify-content: space-between;

  .forecast-buttons {
    gap: 12px;
  }

  .active {
    border-bottom: 1px solid white;
  }
}

.graph {
  --graph-color: #ffe07c;
  --graph-outline-color: #ff9e20;
  position: relative;
  z-index: 1;
  display: flex;
  height: 90px;
  width: 100%;
  border-bottom: 1rem solid var(--graph-color);
  filter: drop-shadow(0px -5px 0px var(--graph-outline-color));
}

.time-labels {
  margin-top: 6px;
  position: relative;
  justify-content: space-between;
}

.graph>li {
  background-color: var(--graph-color);
  /* background: linear-gradient(#f5b952 60%, var(--clear-sky) 70%); */
  width: 100%;
  clip-path: polygon(0% 100%,
      -2px calc(100% - var(--previous-value)),
      calc(100% + 1px) calc(calc(100% + 0.4px) - var(--value)),
      calc(100% + 1px) 100%);
}


.label-list {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - 1rem);
  top: 60%;

  .label {
    position: relative;
    bottom: var(--normalized-value);
    font-size: 0.8rem;
  }

  .label::after {
    position: absolute;
    content: "°";
  }
}

.logo-container {
  background-image: url(./images/logo.png);
  background-origin: border-box;
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: -1px;
}

.logo {
  height: 73px;
  width: 125px;
  margin: 6px;
  position: relative;
  background-image: linear-gradient(var(--bg-1), var(--bg-2));
  border-radius: 16px;
  border: 4px solid white;
  box-shadow: 0px 0px 0px 1px black, 0px 0px 0px 1px black inset;
  text-shadow: none;
  text-align: center;
  user-select: none;
  visibility: hidden;

  .logo-text {
    position: absolute;
    left: 6px;
    bottom: 5px;
    font-size: 3rem;
    font-weight: 900;
    line-height: 40%;
    text-shadow: 3px 3px 2px rgb(138, 138, 138);

    >span {
      font-size: 1.4rem;
    }
  }
}

.separator {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}